<p id="notice"><%= notice %></p>

<p>
  <b>Npi:</b>
  <%= @provider.npi %>
</p>

<p>
  <b>Business name:</b>
  <%= @provider.business_name %>
</p>

<p>
  <b>Address1:</b>
  <%= @provider.address1 %>
</p>

<p>
  <b>Address2:</b>
  <%= @provider.address2 %>
</p>

<p>
  <b>City:</b>
  <%= @provider.city %>
</p>

<p>
  <b>State:</b>
  <%= @provider.state %>
</p>

<p>
  <b>Zip:</b>
  <%= @provider.zip %>
</p>

<p>
  <b>Phone1:</b>
  <%= @provider.phone1 %>
</p>

<p>
  <b>Fax:</b>
  <%= @provider.fax %>
</p>

<p>
  <b>Contact:</b>
  <%= @provider.contact %>
</p>

<p>
  <b>First:</b>
  <%= @provider.first %>
</p>

<p>
  <b>Last:</b>
  <%= @provider.last %>
</p>

<p>
  <b>Title:</b>
  <%= @provider.title %>
</p>

<p>
  <b>Specialty:</b>
  <%= @provider.specialty %>
</p>

<p>
  <b>Sales:</b>
  <%= @provider.sales %>
</p>

<p>
  <b>License State:</b>
  <%= @provider.license_state %>
</p>

<p>
  <b>License:</b>
  <%= @provider.license %>
</p>


<%= link_to 'Edit', edit_provider_path(@provider) %> |
<%= link_to 'Back', providers_path %>
