<h1>Listing territories</h1>

<table>
  <tr>
    <th>Territory name</th>
    <th>Zipcode</th>
    <th>Zip label</th>
    <th>District</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @territories.each do |territory| %>
  <tr>
    <td><%= territory.territory_name %></td>
    <td><%= territory.zipcode %></td>
    <td><%= territory.zip_label %></td>
    <td><%= territory.district_id %></td>
    <td><%= link_to 'Show', territory %></td>
    <td><%= link_to 'Edit', edit_territory_path(territory) %></td>
    <td><%= link_to 'Destroy', territory, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Territory', new_territory_path %>

<br />
<%= will_paginate @territories %>
<br />
